.filter {
  font-style: italic;
  cursor: pointer;
}

.sortableHeader {
  cursor: pointer;
  white-space: nowrap;
}

.compositionList {
  margin: 0;
  padding: 0;
  li {
    padding-left: .5em;
    &:after {
      content: ", ";
    }
    &:last-child:after {
      content: "";
    }
    display: inline-block;
    white-space: nowrap;
  }
}

.etoile {
  color: #dcc257;
  font-size: larger;
  white-space: nowrap;
  display: block;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.6em;
}

h1 .etoile {
  display: inline;
  margin-left: 20px;
}

.progress-bar {
  color: #212529;
  font-size: 1rem;
}

@for $i from 0 through 100 {
  .w-#{$i} {
    width: 0% + $i !important;
  }
  .progress-bar-color-#{$i} {
    background-color: rgba(100 + 1 * $i, 200 - 2 * $i, 0, .4);
  }
}

.bouteilles-liste {
  .nom {
    .progress {
      height: 5px;
    }
  }
  .indice {
    .progress {
      height: 25px;
    }
  }
}

.bouteilles-detail {
  .action {
    float: right;
    height: 50px;
    .menu-btn {
      font-size: 2em;
    }
  }

  .compositionList, .emplacementList {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      white-space: nowrap;
    }
  }

  .bouteille-image {
    width: 15%;
    position: absolute;
    top: 100px;
    right: 50px;
    z-index: 1;
    img {
      width: 100%;
    }
  }
}

label.mandatory:after {
  content: "*";
  color: darkred;
  margin-left: 5px;
}

.emplacement {
  table {
    th {
      text-align: center;
    }
    td {
      padding: 5px;
      .casier-detail-bouteille {
        margin: 0 auto;
        border-radius: 50%;
        border: 1px solid #dee2e6;
        text-align: center;
        &.present {
          cursor: pointer;
        }
        span {
          //border: 1px solid blue;
          display: block;
          &.nom {
            margin: 0 auto;
          }
          &.region {
            font-weight: bolder;
          }
          &.appellation {
            font-size: .9em;
          }
          &.type {
            font-style: italic;
            font-weight: lighter;
          }
          &.millesime {
            font-weight: bolder;
          }
        }
      }
    }
  }
}

@mixin emplacement($diam) {
  .emplacement {
    table {
      td {
        .casier-detail-bouteille {
          width: #{$diam}px;
          font-size: #{$diam * .1}px;
          padding-top: #{$diam * .15}px;
          padding-bottom: #{$diam * .05}px;
          line-height: #{$diam * .1}px;
          span {
            &.nom {
              height: #{$diam * .25}px;
              width: #{$diam * .7}px;
            }
            &.region {
              height: #{$diam * .12}px;
            }
            &.appellation {
              height: #{$diam * .15}px;
              font-size: .9em;
            }
            &.type {
              height: #{$diam * .12}px;
            }
            &.millesime {
              height: #{$diam * .11}px;
            }
          }
        }
      }
    }
  }
}

@include emplacement(150);

@media (max-width: 991px) {
  @include emplacement(120);
}

.repartition {
  .wrapper {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    h2 {
      padding-top: 10px;
      margin-left: 10px;
    }
  }
  .lienSansApogee {
    margin: 20px;
  }
}